
*{
    margin: 0;
    padding: 0;
}

/* body{
 
    background-image: url('./namuna.jpg'), url('./bunImage.png'), url('./bunImage.png');
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size:200px,500px,1200px ;
} */

.container{
    background-image: url('./namuna.jpg');
    background-color:aquamarine !important;
    background-color: red;
    height:80vh;
    /* padding-top: 500px;
    padding-bottom: 500px; */
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-blend-mode: luminosity; */

}
h1{
    font-size: 100px;
}
h3{
    font-size: 40px;
}

.buttonBootstrap{
    background-color: black !important;
}